html,
body {
 font-family: 'Inter', sans-serif;
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff) format('woff');
}
